{% extends "index.html" %}

{% block title %}Page not found{% endblock %}
{% block content %}
    <div class="text-center mt-5">
    <h1>Congratulations!</h1>
    <p class="important mt-5">
        You are in our Fight club!<br>
	<p>The first rule of Fight Club is: You do not talk about Fight Club. </p>
	<p>The second rule of Fight Club is: You do not talk about Fight Club. </p>
	<p>Third rule of Fight Club: Someone yells "Stop!", goes limp, taps out, the fight is over. </p>
	<p>Fourth rule: Only two guys to a fight.</p>
    </p>
    </div>
{% endblock %}